@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2c3333;
  --secondary: #feecdb;
  --accent: #ff6a3d;
  --bg-gradient: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(132, 153, 153, 0) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #2c3333;
    --secondary: #feecdb;
    --accent: #ff6a3d;
    --bg-gradient: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(132, 153, 153, 0) 100%
    );
  }
}

html {
  scroll-behavior: smooth;
}

body {
  /* color: var(--foreground); */
  background: var(--primary);
  font-family: "Poppins", "Roboto", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  background-image: url("./assets/images/background-texture.png");
}

.text-bg {
  background-image: url("./assets/images/background-texture.png");
}
.half {
  clip-path: circle(35.1% at 100% 0);
}

.animate-fade-left {
  transform: translateX(400px);
  opacity: 0;
  animation: fade-left 300ms 200ms ease-in forwards;
}
.animate-fade-right {
  transform: translateX(-200px);
  opacity: 0;
  animation: fade-left 300ms 300ms ease-in forwards;
}

@keyframes fade-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
